.ordered-list {
    width: 100%;
}

.ordered-list-item {
    display: flex;
    width: 100%;
}

.ordered-list-item-tag {
    width: 100px;
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: right;
    padding: 5px 15px;
}

.ordered-list-item-value {
    flex-grow: 100;
    position: relative;
    display: inline-block;
    padding: 5px 15px;
}

.ordered-list-item-bar {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    outline: 1px solid #777;
}