.scroll-container {
  position: relative;
  height: 80vh;
  width: 100%;
}

.stick-top {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 90;
  background: #fff;
  box-shadow: 0px 3px 5px -5px;
}

.stick-top>div {
  padding-bottom: 0.5em;
}

.non-stick-top {
  height: calc(100% - 3.5em);
  width: 100%;
  padding-top: 1em;
  overflow-x: hidden;
  overflow-y: auto;
}